@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Nova+Round&display=swap');

html {
    font-family: 'Nova Round';
}
a {
    all: unset;
}

.main {
    height: 90dvh;
    width: 90dvw;
    overflow: hidden;
}

.background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}
.background img {
    width: 100dvw;
    height: 100dvh;
    object-fit: fill;
}

.gate {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
}
.about {
    font-size: 1rem;
    padding: 10px 14px;
    border-radius: 100%;

    position: fixed;
    top: 20px;
    right: 20px;
}
.enter {
    font-size: 2rem;
    position: fixed;
    padding: 10px;
    bottom: 10dvh;
    right: 10dvw;
}

.button {
    background-color: darkblue;
    color: yellow;
    filter: blur(1px);
}
.button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    filter: blur(0px);
}

.interactable:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px #ffffff67);
}

.lobby-dummy {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 10%;
    height: 18%;
    background-color: yellow;
    border-radius: 80%;
}

@keyframes text-glow {
    0% { text-shadow: 0 0 10px rgba(255, 255, 255, 0); }
    100% { text-shadow: 0 0 10px rgba(255, 255, 224, 0.8); }
}

.movement {
    width: 100%;
    height: 100%;
}
.movement div {
    position: fixed;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 10px black;
}
.movement div:hover {
    cursor: pointer;
    color: rgb(255, 253, 244);
    animation: text-glow infinite alternate 1s ease-in-out;
}
.left {
    left: 3%;
    bottom: 45%;
}
.right {
    right: 3%;
    bottom: 45%;
}
.down {
    bottom: 3%;
    left: 45%;
}
.up {
    bottom: 13%;
    left: 45%;
}

@keyframes color-shift {
    0% { transform: rotate3d(0, 0, 0, 0deg); }
    50% { transform: rotate3d(1, 1, 0.1, 15deg); }
    100% { transform: rotate3d(1, -1, 0.1, 15deg); }
}

#current-room {
    z-index: 20;
    position: fixed;
    padding: 10px 14px;
    font-size: 1.5rem;
    top: 20px;
    left: 20px;
    border: 2px inset black;
    background-color: white;
    font-family: 'Coral Pixels';
    animation: color-shift 6s alternate infinite ease-in-out;
}
#current-room:hover {
    font-style: italic;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.4);
}

#flashlight {
    --Xpos: 50vw;
    --Ypos: 50vh;
}
#flashlight:before {
    z-index: 10;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(
        circle 20rem at var(--Xpos) var(--Ypos),
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.85) 
    );
}
.main-door {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 36%;
    background-color: rgba(255, 255, 255, 0.05);
    filter: blur(4px);
    width: 28vw;
    height: 18vw;
    border: 2px solid rgb(195, 207, 61);
}
.main-door:hover {
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(4px);
}

#text-box {
    z-index: 30;
    font-size: 1.1rem;
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 52%;
    height: 20dvh;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px 4%;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
#text-box:hover {
    background-color: rgba(255, 255, 255, 0.96);
}
#text-box-content {
    height: auto;
}
#options {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#options div {
    padding: 4px 10px;
    font-family: 'Coral Pixels';
    color: rgb(17, 17, 97);
}
#options div:hover {
    background-color: rgba(255, 255, 107, 0.5);
    font-style: italic;
    cursor: pointer;
}
.hidden {
    display: none !important;
}
#exit-text-box {
    position: absolute;
    top: -16px;
    left: -16px;
    background-color: blue;
    color: yellow;
    padding: 4px 10px;
    border-radius: 100%;
    font-size: 1.2rem;
}

.dummy-creation-kiosk {
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 10%;
    left: 30%;
}

.dummy-creator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(3, 3, 61);
    background: linear-gradient(
        45deg,
        yellow,
        yellow 10%,
        rgb(3, 3, 61) 0,
        rgb(3, 3, 61) 90%,
        rgb(3, 3, 61) 0,
        yellow 10%,
        yellow
    );

    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nova Round';
}
.dummy-create-button {
    z-index: 1;
    position: relative;
    background-color: yellow;
    border: 1px solid black;
    color: rgb(21, 21, 118);
    font-weight: bold;
    width: fit-content;
    font-size: 1.6rem;
    margin-top: 20px;
    padding: 14px 20px;
}

@keyframes swirl {
    from { filter: hue-rotate(0); }
    to { filter: hue-rotate(-100deg);}
}
.dummy-create-button::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: -150%;
    left: -65%;
    background: radial-gradient(yellow, transparent, transparent);
    opacity: 0.6;
    width: 230%;
    height: 400%;
    pointer-events: none;
    animation: swirl 4s alternate infinite ease-in-out;
}

.dummy-create-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px yellow;
}
.dummy-creator h1 {
    font-family: inherit;
    color: yellow;
    margin: 0 20%;
    margin-top: 10px;
    font-size: 2.4rem;
    text-shadow: 0 0 4px black;
}
.dummy-creator p {
    margin: 0 20%;
}
.back-button {
    position: fixed;
    font-size: 1.4rem;
    top: 4%;
    left: 4%;
}
.back-button:hover {
    cursor: pointer;
    text-shadow: 0 0 4px yellow;
}

.completion-button {
    position: fixed;
    top: 2%;
    right: 2%;
    font-size: 1.2rem;
    color: yellow;
    background-color: rgb(9, 17, 68);
    border: 1px solid yellow;
    padding: 10px 14px;
}
.completion-button:hover {
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.dummy-controls {
    display: flex;
    gap: 20px;
    padding: 14px;
    margin: 0 20%;
    margin-bottom: 10px;
    background-color: rgb(183, 183, 183);
}

#dummy-creator-canvas {
    background-color: white;
}

.confirm-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 11, 55, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-text {
    position: relative;
    width: 60%;
    font-size: 1.2rem;
    background-color: white;
    color: rgb(5, 5, 67);
    padding: 36px 48px;
    border: 1px solid black;   
}
.confirm-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.confirm-options div {
    font-weight: bold;
    padding: 12px 16px;
}
.confirm-options div:hover {
    cursor: pointer;
}
.confirm-option {
    color: black;
    background-color: yellow;
    border: 1px solid black;
}
.cancel-option {
    background-color: rgb(9, 9, 66);
    color: yellow;
    border: 1px solid yellow;
}
.cancel-option-x {
    position: absolute;
    top: -18px;
    left: -14px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellow;
    padding: 4px 8px;
}
.cancel-option-x:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 105);
}